@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Newsreader', Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    color: #333
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #f0e9df;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.sidebar-header {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar-header h1 {
  margin-bottom: 10px;
  font-weight: 600;
}

.sidebar-header h1 a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.sidebar-header h1 a:hover {
  color: #807d7d;

}
/* Navigation */
.top-navigation {
    width: 100%;
    flex-grow: 1;
}

.top-navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top-navigation li {
    width: 100%;
    text-align: center;
}

.top-navigation li a {
    color: #807d7d;
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
    padding: 10px 15px;
}

.top-navigation li a:hover {
    color:#333;
    border-radius: 5px;
    background-color: rgba(208, 194, 179, 0.5);
    transform: scale(1.05);
}

/* Main Content */
hr {
    border: none; 
    height: 1px; 
    margin:  20px auto ;
    border-top: 1px solid #b7b0ab;
}
.main-content {
    flex: 1;
    padding: 40px 40px 40px 240px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    margin-bottom: 30px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
}

#portfolio {
    text-align: center;
    width: 100%;
}

#portfolio h3 {
  margin-bottom: 1rem;
}

#portfolio p {
  margin-bottom: 2rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.portfolio-item {
    margin-top: 3rem;
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
/* you may also like */

#you-may-also-like {
    text-align: center;
    margin: 50px auto;
  }
  
  #you-may-also-like h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  #suggestion-link img {
    max-width: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  #suggestion-link img:hover {
    transform: scale(1.05);
  }
  
  #suggestion-link p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
  }

/* back to top button */

.back-to-top {
    display: none; /* default hidden*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.back-to-top:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    background-color: #fff;
    color: #707070;
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
}

/* Footer */
footer {
    text-align: center;
    background-color: #fff;
    color: #707070;
    font-size: 0.9rem;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
        min-height: auto;
        padding: 20px;
    }

    .top-navigation ul {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .main-content {
        padding: 20px;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}

